.top-nav {
  display: right;
  background-color: #232928;
  padding: 5px;
}
.nav-icons {
  float: right;
  color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-bar li {
  margin-right: 30px;
  padding-top: 35px;
}

.cat-icon {
  color: #fff;
  height: 30px;
}

.nav-search {
  background-color: #363232;
}

.main-photo img {
  height: 260px;
}

.button {
  border: solid 1px #e0e0e0;
}
