.top-nav {
  /* display: right; */
  background-color: #232928;
  padding: 5px;
  /* position: sticky; */
}
.nav-icons {
  float: right;
  color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: solid 1px #c5c9c5;
  padding-top: 25px;
  padding-bottom: 10px;

}

.nav-bar li {
  padding-left: 7px;
  padding-right: 7px;
}

.repo-nav {
  border-bottom: solid 1px #c5c9c5;
  padding-bottom: 20px
}

.repo-bullet {
  color: red;
  padding-right: 3px;
}

.repo-search-btn {
  float: right;
}

h3 {
  margin: 0;
  padding-top: 20px;
}


h5 {
  font-weight: 300;
  color: #84858a;
  margin-bottom: 30px;
  /* padding-bottom: 0; */
}

.green-btn {
  background-color: #2ea336;
  color: #fff;
}

.aside {
  border-bottom: solid 1px #c5c9c5;
}

.aside-btn {
  background-color: #edeef2;
  color: #000;
  height: 40px;
  text-align: center;
}

.aside-footer {
  padding-top: 20px;
  /* margin-left: 0; */
}

.python i {
  width: 20px;
}


.marker-icon {
  padding-top: 20px;
  margin-top: 20px;
}

.cat-icon {
  color: #fff;
  height: 30px;
}

.nav-search {
  background-color: #363232;
}

.main-photo img {
  height: 260px;
}

.button {
  border: solid 1px #e0e0e0;
}

.repo-btn {
  border: solid 1px #c9ccd1;
  height: 35px;
  background-color: #e9ebf0
}

.repo-btn i {
  font-size: 12px;
  padding-right: 5px;


}

.repos {
  border-bottom: solid 1px #c5c9c5;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cat-icon-2 {
  color: black;
}

.footer {
  display: flex;
  border-top: solid 1px #c5c9c5;
  padding-top: 25px;
}
.footer h6 {
  padding: 10px;
  font-size: 12px;
}
.footer i {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 30px;
  color: #c5c9c5;
}
